accelerate==1.1.1
einops==0.8.1
huggingface_hub==0.26.3
jpeg4py==0.1.4
Mask2Former==0.1.5
numpy==2.2.4
opencv_python==4.10.0.84
Pillow==11.1.0
prefetch_generator==1.0.3
pycocotools==2.0.8
Requests==2.32.3
scipy==1.15.2
torch==2.5.1
torch_dct==0.1.6
torch_xla==2.6.0
torchvision==0.20.1
tqdm==4.67.1
transformers==4.49.0
